<a href="https://colab.research.google.com/github/Sagar0120/Predict-the-price-hackerearth-/blob/main/Predict_the_price_(hackerearth).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [4]:
import datetime as dt

In [5]:
df=pd.read_csv('/content/drive/MyDrive/ML/Predict Price (hackereath)/train.csv')

In [7]:
df.shape

(6368, 15)

In [8]:
df.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [9]:
df['instock_date']=pd.to_datetime(df['instock_date'])

In [10]:
df.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [13]:
def get_year_month(df):
  df['instock_year'] = df['instock_date'].dt.year
  df['instock_month'] = df['instock_date'].dt.month
  df.drop(columns=['instock_date'],inplace=True)
  return df

In [14]:
df=get_year_month(df)

In [15]:
df.head()

,Product_id,Stall_no,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,instock_year,instock_month
0,BRAE2NF6JA5GUEXG,37.0,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,2015,8
1,TUNE8SFB6RJN2HSD,38.0,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,2016,3
2,BRAEAR7WZPQGPBZU,9.0,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,2015,8
3,WATDZ2ZQ8JPDHCTJ,50.0,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,2016,3
4,JWSEBUKYQPMBZ3RK,7.0,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,2016,3

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        6368 non-null   object
 1   Stall_no          6363 non-null   float64
 2   Market_Category   6368 non-null   int64
 3   Customer_name     6157 non-null   object
 4   Loyalty_customer  6368 non-null   object
 5   Product_Category  6368 non-null   object
 6   Grade             6368 non-null   int64
 7   Demand            6368 non-null   int64
 8   Discount_avail    6330 non-null   float64
 9   charges_1         6170 non-null   float64
 10  charges_2 (%)     6163 non-null   float64
 11  Minimum_price     6330 non-null   float64
 12  Maximum_price     6025 non-null   float64
 13  Selling_Price     6327 non-null   float64
 14  instock_year      6368 non-null   int64
 15  instock_month     6368 non-null   int64
dtypes: float64(7), int64(5), object(4)
memory usage: 796.1+ KB

In [17]:
(df['Selling_Price'] < 0)

0       False
1       False
2       False
3       False
4       False
        ...
6363    False
6364    False
6365    False
6366    False
6367    False
Name: Selling_Price, Length: 6368, dtype: bool

In [18]:
df.shape

(6368, 16)

In [19]:
df = df[df.Selling_Price > 0]

In [20]:
df.shape

(6313, 16)

Overall, the purpose of this code is to convert categorical data into numerical data, so that it can be used in machine learning models that require numerical inputs.

The LabelEncoder is a utility class that can be used to transform non-numerical labels (as long as they are hashable and comparable) to numerical labels. It assigns a unique integer value to each unique label in the data, with the smallest integer assigned to the most frequent label.

In [21]:
from sklearn.preprocessing import LabelEncoder

le_lc=LabelEncoder()
le_pc=LabelEncoder()

df['Loyalty_customer']=le_lc.fit_transform(df['Loyalty_customer'])

df['Product_Category']=le_pc.fit_transform(df['Product_Category'])

<ipython-input-21-201bea4ff29e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Loyalty_customer']=le_lc.fit_transform(df['Loyalty_customer'])
<ipython-input-21-201bea4ff29e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Product_Category']=le_pc.fit_transform(df['Product_Category'])

In [22]:
df.head()

,Product_id,Stall_no,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,instock_year,instock_month
0,BRAE2NF6JA5GUEXG,37.0,2,Lillyann,1,3,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,2015,8
1,TUNE8SFB6RJN2HSD,38.0,24,Klynn,1,3,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,2016,3
2,BRAEAR7WZPQGPBZU,9.0,447,Ridge,1,0,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,2015,8
3,WATDZ2ZQ8JPDHCTJ,50.0,23,Abran,1,2,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,2016,3
4,JWSEBUKYQPMBZ3RK,7.0,63,Dustyn,1,8,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,2016,3

In [25]:
df.drop(columns=['Customer_name'],inplace=True)

<ipython-input-25-f0cad6da28d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Customer_name'],inplace=True)

In [26]:
df.head()

,Product_id,Stall_no,Market_Category,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,instock_year,instock_month
0,BRAE2NF6JA5GUEXG,37.0,2,1,3,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,2015,8
1,TUNE8SFB6RJN2HSD,38.0,24,1,3,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,2016,3
2,BRAEAR7WZPQGPBZU,9.0,447,1,0,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,2015,8
3,WATDZ2ZQ8JPDHCTJ,50.0,23,1,2,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,2016,3
4,JWSEBUKYQPMBZ3RK,7.0,63,1,8,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,2016,3

The df.corr() function is a method in Pandas that is used to compute pairwise correlation of columns, excluding NA/null values, in a given DataFrame df. It returns a new DataFrame object that shows the correlation coefficients between all possible pairs of numerical columns in the original DataFrame.

The correlation coefficient is a statistical measure that indicates the strength of a linear relationship between two variables. It ranges from -1 to 1, with 1 indicating a perfect positive correlation, -1 indicating a perfect negative correlation, and 0 indicating no correlation between the two variables. A positive correlation means that as one variable increases, the other variable also tends to increase, while a negative correlation means that as one variable increases, the other variable tends to decrease.

In [27]:
df.corr()

,Stall_no,Market_Category,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,instock_year,instock_month
Stall_no,1.000000,-0.005510,0.007874,-0.012938,-0.004814,0.003864,-0.020568,-0.010883,-0.002274,-0.000112,0.007195,0.010488,0.013453,-0.013611
Market_Category,-0.005510,1.000000,0.033993,-0.001194,-0.035270,-0.019035,-0.002265,0.018458,0.024758,0.196087,0.135300,0.140817,-0.153564,0.088784
Loyalty_customer,0.007874,0.033993,1.000000,-0.019560,0.025961,0.005584,-0.021671,0.007357,0.012665,0.093103,0.118079,0.098101,-0.051363,0.039412
Product_Category,-0.012938,-0.001194,-0.019560,1.000000,0.010116,-0.022469,-0.027317,0.210196,-0.476116,0.001523,-0.012385,0.015742,0.000153,0.003550
Grade,-0.004814,-0.035270,0.025961,0.010116,1.000000,0.010351,-0.026533,-0.024284,-0.015682,-0.077558,0.166004,0.085304,0.025291,-0.031596
Demand,0.003864,-0.019035,0.005584,-0.022469,0.010351,1.000000,0.008346,-0.008754,0.017962,0.009128,0.003881,-0.001620,-0.010616,0.014793
Discount_avail,-0.020568,-0.002265,-0.021671,-0.027317,-0.026533,0.008346,1.000000,-0.004727,0.019177,0.010669,-0.003494,-0.519377,0.135851,-0.086759
charges_1,-0.010883,0.018458,0.007357,0.210196,-0.024284,-0.008754,-0.004727,1.000000,0.271043,0.018015,0.011258,0.053202,-0.015931,0.012842
charges_2 (%),-0.002274,0.024758,0.012665,-0.476116,-0.015682,0.017962,0.019177,0.271043,1.000000,0.005911,0.010813,0.009285,-0.000817,-0.006442
Minimum_price,-0.000112,0.196087,0.093103,0.001523,-0.077558,0.009128,0.010669,0.018015,0.005911,1.000000,0.707846,0.705838,0.055513,-0.012528
Maximum_price,0.007195,0.135300,0.118079,-0.012385,0.166004,0.003881,-0.003494,0.011258,0.010813,0.707846,1.000000,0.773227,0.179113,-0.112576
Selling_Price,0.010488,0.140817,0.098101,0.015742,0.085304,-0.001620,-0.519377,0.053202,0.009285,0.705838,0.773227,1.000000,0.053255,-0.026153
instock_year,0.013453,-0.153564,-0.051363,0.000153,0.025291,-0.010616,0.135851,-0.015931,-0.000817,0.055513,0.179113,0.053255,1.000000,-0.826318
instock_month,-0.013611,0.088784,0.039412,0.003550,-0.031596,0.014793,-0.086759,0.012842,-0.006442,-0.012528,-0.112576,-0.026153,-0.826318,1.000000

In [28]:
df.drop(columns=['charges_2 (%)','Demand'],inplace=True)

<ipython-input-28-e1b64f32d2be>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['charges_2 (%)','Demand'],inplace=True)

In [29]:
df.shape

(6313, 13)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6313 entries, 0 to 6367
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        6313 non-null   object
 1   Stall_no          6308 non-null   float64
 2   Market_Category   6313 non-null   int64
 3   Loyalty_customer  6313 non-null   int64
 4   Product_Category  6313 non-null   int64
 5   Grade             6313 non-null   int64
 6   Discount_avail    6276 non-null   float64
 7   charges_1         6116 non-null   float64
 8   Minimum_price     6275 non-null   float64
 9   Maximum_price     5973 non-null   float64
 10  Selling_Price     6313 non-null   float64
 11  instock_year      6313 non-null   int64
 12  instock_month     6313 non-null   int64
dtypes: float64(6), int64(6), object(1)
memory usage: 690.5+ KB

In [31]:
df = df[df['Maximum_price'].notna()]
df = df[df['Minimum_price'].notna()]
df = df[df['Discount_avail'].notna()]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5903 entries, 0 to 6367
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        5903 non-null   object
 1   Stall_no          5899 non-null   float64
 2   Market_Category   5903 non-null   int64
 3   Loyalty_customer  5903 non-null   int64
 4   Product_Category  5903 non-null   int64
 5   Grade             5903 non-null   int64
 6   Discount_avail    5903 non-null   float64
 7   charges_1         5738 non-null   float64
 8   Minimum_price     5903 non-null   float64
 9   Maximum_price     5903 non-null   float64
 10  Selling_Price     5903 non-null   float64
 11  instock_year      5903 non-null   int64
 12  instock_month     5903 non-null   int64
dtypes: float64(6), int64(6), object(1)
memory usage: 645.6+ KB

In [34]:
for i in df:
    if i!='Product_id':
        a=df[i].median()
        df[i]=df[i].fillna(a)

In [35]:
df['Stall_no'].mode()[0]

20.0

In [36]:
X=df.drop(columns=['Product_id','Selling_Price']).values

In [37]:
y=df['Selling_Price'].values

In [39]:
X.shape

(5903, 11)

In [40]:
y.shape

(5903,)

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [43]:
X_train.shape

(5312, 11)

In [44]:
from sklearn.ensemble import RandomForestRegressor

In [48]:
lr=RandomForestRegressor(max_depth=19)#30,99.5880

In [49]:
lr.fit(X_train,y_train)#19,99.577

RandomForestRegressor(max_depth=19)

In [50]:
from sklearn.metrics import r2_score

In [51]:
r2_score(y_test,lr.predict(X_test))#99.556

0.9955909147079255

In [53]:
df_test = pd.read_csv('/content/drive/MyDrive/ML/Predict Price (hackereath)/test.csv')

In [54]:
df_test.shape

(3430, 14)

In [55]:
df_test.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price
0,SCHE4YSTDVPVZVXW,39.0,2016-01-13 07:45:08.000,205,Ivanka,No,Fashion,0,90,0,380.0,16.0,2576.0,3340
1,ACCEGCATKHNRXUHW,49.0,2015-08-23 20:37:05.000,3,Isaak,Yes,Fashion,0,87,0,393.0,16.0,1202.0,1955
2,NKCE6GJ5XVJDXNNZ,1.0,2015-11-14 18:12:39.000,183,Analiese,No,Technology,2,55,0,493.0,9.0,7175.0,15715
3,NKCEB8BK3ZXDHDHM,8.0,2015-11-21 04:56:19.000,358,Rusty,Yes,Child_care,3,86,0,303.0,16.0,5404.0,13078
4,TOPEFDXSAHRNPF94,33.0,2015-05-06 15:09:46.000,167,Eloise,No,Technology,0,27,0,567.0,16.0,4069.0,6244

In [56]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        3430 non-null   object
 1   Stall_no          3429 non-null   float64
 2   instock_date      3430 non-null   object
 3   Market_Category   3430 non-null   int64
 4   Customer_name     3377 non-null   object
 5   Loyalty_customer  3430 non-null   object
 6   Product_Category  3430 non-null   object
 7   Grade             3430 non-null   int64
 8   Demand            3430 non-null   int64
 9   Discount_avail    3430 non-null   int64
 10  charges_1         3394 non-null   float64
 11  charges_2 (%)     3425 non-null   float64
 12  Minimum_price     3416 non-null   float64
 13  Maximum_price     3430 non-null   int64
dtypes: float64(4), int64(5), object(5)
memory usage: 375.3+ KB

In [57]:
df_test=df_test.drop(columns=['Customer_name','Product_id','charges_2 (%)','Demand'])

In [58]:
df_test.shape

(3430, 10)

In [59]:
df_test['instock_date']=pd.to_datetime(df_test['instock_date'])

In [60]:
df_test=get_year_month(df_test)

In [61]:
df_test.head()

,Stall_no,Market_Category,Loyalty_customer,Product_Category,Grade,Discount_avail,charges_1,Minimum_price,Maximum_price,instock_year,instock_month
0,39.0,205,No,Fashion,0,0,380.0,2576.0,3340,2016,1
1,49.0,3,Yes,Fashion,0,0,393.0,1202.0,1955,2015,8
2,1.0,183,No,Technology,2,0,493.0,7175.0,15715,2015,11
3,8.0,358,Yes,Child_care,3,0,303.0,5404.0,13078,2015,11
4,33.0,167,No,Technology,0,0,567.0,4069.0,6244,2015,5

In [62]:
df_test['Loyalty_customer']=le_lc.transform(df_test['Loyalty_customer'])

In [63]:
df_test['Product_Category']=le_pc.transform(df_test['Product_Category'])

In [64]:
df_test.head()

,Stall_no,Market_Category,Loyalty_customer,Product_Category,Grade,Discount_avail,charges_1,Minimum_price,Maximum_price,instock_year,instock_month
0,39.0,205,0,3,0,0,380.0,2576.0,3340,2016,1
1,49.0,3,1,3,0,0,393.0,1202.0,1955,2015,8
2,1.0,183,0,9,2,0,493.0,7175.0,15715,2015,11
3,8.0,358,1,0,3,0,303.0,5404.0,13078,2015,11
4,33.0,167,0,9,0,0,567.0,4069.0,6244,2015,5

In [65]:
for i in df_test:
    if i!='Product_id' and i!= 'instock_date':
        df_test[i].fillna(df[i].median(),inplace=True)

In [66]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Stall_no          3430 non-null   float64
 1   Market_Category   3430 non-null   int64
 2   Loyalty_customer  3430 non-null   int64
 3   Product_Category  3430 non-null   int64
 4   Grade             3430 non-null   int64
 5   Discount_avail    3430 non-null   int64
 6   charges_1         3430 non-null   float64
 7   Minimum_price     3430 non-null   float64
 8   Maximum_price     3430 non-null   int64
 9   instock_year      3430 non-null   int64
 10  instock_month     3430 non-null   int64
dtypes: float64(3), int64(8)
memory usage: 294.9 KB

In [67]:
X_pred=df_test.values

In [68]:
X_pred.shape

(3430, 11)

In [69]:
df_test = pd.read_csv('/content/drive/MyDrive/ML/Predict Price (hackereath)/test.csv')

In [70]:
pd_id=df_test['Product_id'].values

In [71]:
y_pred=lr.predict(X_pred)

In [72]:
s=0
for i in range(len(y_pred)):
    if y_pred[i]<0:
        print(y_pred[i])
        s+=1
print(s)

0

In [73]:
output=pd.DataFrame(list(zip(pd_id,y_pred)),columns=['Product_id','Selling_Price'])

In [74]:
output.head(10)

         Product_id  Selling_Price
0  SCHE4YSTDVPVZVXW    3292.539944
1  ACCEGCATKHNRXUHW    1945.518779
2  NKCE6GJ5XVJDXNNZ   11695.294127
3  NKCEB8BK3ZXDHDHM    9389.662497
4  TOPEFDXSAHRNPF94    5586.523888
5  ACCE558KZHEPZYMG    9444.352056
6  ACCEAZCVAMFHDPY7    5313.148542
7  NKCDYNY37JPBGBVM    2594.758822
8  NKCEY8KWY33FCUYD    7612.771908
9  RNGE4YPTQYRECV9J    4551.100281

In [75]:
output.to_csv('output.csv',index=False)

In [76]:
output['Selling_Price'][output['Selling_Price']<0].shape

(0,)